@model IEnumerable<InventarioNet6.Models.Productos>
@{
    ViewData["Title"] = "Inicio de Productos";
}
<p>
    <a asp-action="CrearProducto" class="btn btn-lg btn-success">Agregar Producto</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Imagen</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Productos p in Model){
            <tr>
                <td>@p.Nombre</td>
                <td>@p.Precio</td>
                <td>@p.Stock</td>
                <td>@p.Id_Categoria</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
